<form id="imageform" class="form-horizontal center-block" action="" method="post" enctype="multipart/form-data">
    <div class="form-group"> <!-- Nombre y Apellido -->    
      <label class="col-sm-4 control-label titulos1">Nombre y Apellido </label>
      <div class=" col-sm-3 input-group">
            <span class="input-group-addon"><span class="glyphicon glyphicon-barcode"></span></span>
        <input type="text" name="codigo" class="form-control" placeholder="Nombre y apellido" required>
        </div>                
    </div>

    <div class="form-group"> <!-- Fecha de nacimientoo -->   
        <label class="col-sm-4 control-label">Fecha de nacimiento</label>
      <div class=" col-sm-6 input-group">
            <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
            <input type="text" name="nombres" class="form-control" placeholder="Fecha de nacimientos" required>
        </div>                
    </div>

    <div class="form-group"> <!-- Ciudad -->    
        <label class="col-sm-4 control-label">Ciudad</label>
        <div class=" col-sm-6 input-group">
            <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></span>
            <input type="text" name="lugar_nacimiento" class="form-control" placeholder="Ciudad" required>
        </div>                
    </div>

    <div class="form-group"> <!-- Grupo Sanguineo -->  
        <label class="col-sm-4 control-label">Grupo Sanguineo</label>
        <div class=" col-sm-6 input-group">
            <span class="input-group-addon"><span class="glyphicon glyphicon-phone-alt"></span></span>
            <input type="text" name="telefono" class="form-control" placeholder="Grupo Sanguinea" required>
        </div>                
    </div>

    <div class="form-group"> <!-- Telefono / Celular -->   
        <label class="col-sm-4 control-label">Telefono / Celular</label>
            <div class=" col-sm-6 input-group">
            <span class="input-group-addon"><span class="glyphicon glyphicon-phone-alt"></span></span>
            <input type="text" name="telefono" class="form-control" placeholder="Teléfono / Celular" required>
        </div>  
    </div>  
</div>

</form>
